<div>

  <h3>Project Manager</h3>

  <nav class="navbar navbar-expand-lg navbar-light bg-light marginBottom wrapper45">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/add-project" routerLinkActive="active">Add Project</a>
      <a class="nav-item nav-link" routerLink="/add-task" routerLinkActive="active">Add Task</a>
      <a class="nav-item nav-link" routerLink="/add-user" routerLinkActive="active">Add User</a>
      <a class="nav-item nav-link" routerLink="/view-task" routerLinkActive="active">View Task</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>